<nav class="app__navbar">
    <div class="app__navbar__acciones">
        <a class="app__navbar__acciones__link" href="/contactos/agregar">Agregar</a>
        <a class="app__navbar__acciones__link"  href="/contactos/todos">Ver todos</a>
        <a class="app__navbar__acciones__link"  href="/contactos/buscar">buscar</a>
    </div>            
    <div class="app__navbar__user">
        <i class="fa-regular fa-user app__navbar__user__icon"></i>
        <label><%= nombre %></label>
        <a class="app__navbar__acciones__link"  href="/salir">Salir</a>
    </div>
</nav> 