<footer class="bg-warning text-white py-3">
    <div class="container">
        <div class="row">
        <div class="col-md-6">
            Aplicación realizada por Cesar Hernan Ruscica, como Trabajo Práctico Integrador, para el curso de Fullstack Javascript 2022 de Codo A Codo 4.0, del Gobierno de la Ciudad de Buenos Aires.
        </div>
        <div class="col-md-6">
            <a class="footer__paragraph__enlace" href="./aboutme.html">Sobre mí.</a>
                <a class="footer__paragraph__enlace" href="https://www.buenosaires.gob.ar/educacion/codo-codo" target = "_blank">Que es “Codo A Codo 4.0”</a><br>
                Cesar Hernan Ruscica © 2022
        </div>
        </div>
    </div>
    </footer>   
    <!--FOOTER TERMINA--> 
    
    
    
    