
<%- include('partials/cabecera', {titulo: "Agenda Telefónica - Agregar nuevo contacto",  estilos_ruta: "styles/"}) %>     
<!--HEADER TERMINA-->

    <!--MAIN COMIENZA--> 
    <main class="">     
        <form class = "formulario" action="/contactos/agregar" method="post" enctype="multipart/form-data">
            <nav class="app__navbar">
                <div class="app__navbar__acciones">
                    <a class="app__navbar__acciones__link" href="/contactos/agregar">Agregar</a>
                    <a class="app__navbar__acciones__link"  href="/contactos/todos">Ver todos</a>
                    <a class="app__navbar__acciones__link"  href="/contactos/buscar">buscar</a>
                </div>            
                <div class="app__navbar__user">
                    <label>UserName</label>
                    <a class="app__navbar__acciones__link"  href="/">Salir</a>
                </div>
            </nav> 

            <div class="contenedor">
                <h2 class="formulario__titulo">Nuevo contacto</h2>
                <div class="formulario__fila formulario__fila-foto-perfil">
                    <div class="formulario__fila__campo__foto">
                        <img src="imgs/default_avatar.png" alt="" class="formulario__campo__foto__img" id="preview">
                    </div>
                    <div class="formulario__fila__campo__foto-info">
                        <label class = "formulario__campo__label" for="image">Foto de perfíl:</label>
                        <input type="file" id="foto-perfil" name="image" >
                    </div>
                </div>
                <div class="formulario__fila">
                    <div class="formulario__fila__campo">
                        <label class = "formulario__campo__label" for="nombres">Nombres</label>                        
                        <input class = "formulario__campo__input" type="text" name="nombres" id = "nombres" placeholder="Ingrese el/los nombres del contacto.">
                        <label class = "formulario__campo__error formulario__campo__error-oculto">*No puede estar vacio</label>
                    </div>
                    <div class="formulario__fila__campo">
                        <label class = "formulario__campo__label" for="apellidos">Apellidos</label>
                        <input class = "formulario__campo__input" type="text" name="apellidos" id = "apellidos" placeholder="Ingrese el/los apellidos del contacto.">
                        <label class = "formulario__campo__error formulario__campo__error-oculto">*No puede estar vacio</label>
                    </div>
                </div>
                <div class="formulario__fila">
                    <div class="formulario__fila__campo">
                        <label class = "formulario__campo__label" for="telefono">Número de teléfono</label>
                        <input class = "formulario__campo__input" type="text" name="telefono" id = "telefono" placeholder="Ingrese el número de teléfono.">
                        <label class = "formulario__campo__error formulario__campo__error-oculto">*No puede estar vacio /formato no valido</label>
                    </div>
                    <div class="formulario__fila__campo">
                        <label class = "formulario__campo__label" for="email">Correo Electrónico</label>
                        <input class = "formulario__campo__input" type="text" name="email" id = "email" placeholder="Ingrese el correo electrónico.">
                        <label class = "formulario__campo__error formulario__campo__error-oculto">*No puede estar vacio / formato no valido</label>
                    </div>
                </div>
                
                <input class="formulario__campo__btn" type="submit" value="Agregar Contacto">
                
            </div>
        </form>             
       
    </main>
    <!--MAIN TERMINA-->   



    <!--FOOTER COMIENZA-->
    <%- include('partials/piedepagina', {scripts_ruta: "scripts/"}) %>   
    <!--FOOTER TERMINA-->
</body>
</html>