
    <%- include('partials/cabecera', {titulo: "Agenda Telefónica - Bienvenidos",  estilos_ruta: "/contactos/"}) %>      
    <!--HEADER TERMINA-->


    <!--MAIN COMIENZA-->
    <main class="formulario ">     
        <div class="contenedor">
            <h1>Bienvenido <%= nombre %> a mi Agenda Telefonica</h1>
            <p>Puede agregar a un nuevo contacto: <a href="/contactos/agregar">[AGREGAR NUEVO]</a></p>
            <p>Si lo prefiere puede ver un listado de todos: <a href="/contactos/todos">[VER TODOS]</a></p>
            <p>o buscar alguno por nombres y apellidos: <a href="/contactos/buscar">[BUSCAR]</a></p>            
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quod illo iure, saepe ducimus doloribus consequatur
                magni! Aliquam qui iste minus quas! Vero cumque sapiente est quam? Libero, nisi id?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quod illo iure, saepe ducimus doloribus consequatur
                magni! Aliquam qui iste minus quas! Vero cumque sapiente est quam? Libero, nisi id?
            </p>
            
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quod illo iure, saepe ducimus doloribus consequatur
                magni! Aliquam qui iste minus quas! Vero cumque sapiente est quam? Libero, nisi id?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quod illo iure, saepe ducimus doloribus consequatur
                magni! Aliquam qui iste minus quas! Vero cumque sapiente est quam? Libero, nisi id?
            </p>
        </div>       
    </main>
    <!--MAIN TERMINA-->

    <!--FOOTER COMIENZA-->
    <%- include('partials/piedepagina', {scripts_ruta: "scripts/"}) %>    
</body>
</html>


