
    <%- include('partials/cabecera', {titulo: "Agenda Telefónica - Bienvenidos",  estilos_ruta: "/contactos/"}) %>      
    <!--HEADER TERMINA-->


    <!--MAIN COMIENZA-->
    <main class="formulario ">     
        <div class="contenedor">
            <h1>Bienvenido <%= nombre %> a mi Agenda Telefonica</h1>
            <p>Puede agregar a un nuevo contacto: <a href="/contactos/agregar">[AGREGAR NUEVO]</a><br>
            Luego podra ver ese contacto, editar o eliminarlo.</p>
            <p>Si lo prefiere puede ver un listado de todos: <a href="/contactos/todos">[VER TODOS]</a></p>
            <p>O buscar alguno por nombres y apellidos: <a href="/contactos/buscar">[BUSCAR]</a></p>            
            <p>
                Esta es la página principal de su agenda, donde tendra las opciones principales. 
                Con esta agenda podrá tener un control de sus contactos.
            </p>           
            
        </div>       
    </main>
    <!--MAIN TERMINA-->

    <!--FOOTER COMIENZA-->
    <%- include('partials/piedepagina') %>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>  
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>  

    <%
    
    if (mensaje == 'contactoagregado') { %>
        <script>
            Swal.fire({
                title: 'Contacto agregado !',
                text: 'Agregado exitosamente a la agenda.',
                icon: 'success',
                confirmButtonText: 'Entendido'
        })
        </script> 
    <%
    } 
    if (mensaje == 'errorbd') { %>
        <script>
            Swal.fire({
                title: 'Error de base de datos :(',
                text: 'La consulta a la base de datos produjo un error.',
                icon: 'error',
                confirmButtonText: 'Entendido'
        })
        </script> 
    <%
    }
    if (mensaje == 'edicioncorrecta') {%>
        <script>
            Swal.fire({
                title: 'Contacto editado !',
                text: 'Editado y guardado exitosamente en la agenda.',
                icon: 'success',
                confirmButtonText: 'Entendido'
        })
        </script> 
    <%
    } %>
</body>
</html>


