
    <%- include('partials/cabecera', {titulo: "Agenda Telefónica - Bienvenidos",  estilos_ruta: "/contactos/"}) %>      
    <!--HEADER TERMINA-->


    <!--MAIN COMIENZA-->
    <main class="formulario ">     
        <div class="contenedor">
            <h1>Bienvenido <%= nombre %> a mi Agenda Telefonica</h1>
            <p>Puede agregar a un nuevo contacto: <a href="/contactos/agregar">[AGREGAR NUEVO]</a></p>
            <p>Si lo prefiere puede ver un listado de todos: <a href="/contactos/todos">[VER TODOS]</a></p>
            <p>o buscar alguno por nombres y apellidos: <a href="/contactos/buscar">[BUSCAR]</a></p>            
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quod illo iure, saepe ducimus doloribus consequatur
                magni! Aliquam qui iste minus quas! Vero cumque sapiente est quam? Libero, nisi id?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quod illo iure, saepe ducimus doloribus consequatur
                magni! Aliquam qui iste minus quas! Vero cumque sapiente est quam? Libero, nisi id?
            </p>
            
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quod illo iure, saepe ducimus doloribus consequatur
                magni! Aliquam qui iste minus quas! Vero cumque sapiente est quam? Libero, nisi id?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quod illo iure, saepe ducimus doloribus consequatur
                magni! Aliquam qui iste minus quas! Vero cumque sapiente est quam? Libero, nisi id?
            </p>
        </div>       
    </main>
    <!--MAIN TERMINA-->

    <!--FOOTER COMIENZA-->
    <%- include('partials/piedepagina') %>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>  
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>  

    <%
    
    if (mensaje == 'contactoagregado') { %>
        <script>
            Swal.fire({
                title: 'Contacto agregado !',
                text: 'El contacto fué agregado exitosamente.',
                icon: 'success',
                confirmButtonText: 'ok'
        })
        </script> 
    <%
    } 
    if (mensaje == 'errorbd') { %>
        <script>
            Swal.fire({
                title: 'Error de base de datos ',
                text: 'La consulta a la base de datos produjo un error.',
                icon: 'error',
                confirmButtonText: 'ok'
        })
        </script> 
    <%
    }
    if (mensaje == 'edicioncorrecta') {%>
        <script>
            Swal.fire({
                title: 'Edición exitosa !',
                text: 'La edición del contacto fue exitosa.',
                icon: 'success',
                confirmButtonText: 'ok'
        })
        </script> 
    <%
    } %>
</body>
</html>


