
    <%- include('partials/cabecera', {titulo: "Agenda Telefónica - Bienvenidos",  estilos_ruta: "styles/"}) %>      
    <!--HEADER TERMINA-->


    <!--MAIN COMIENZA-->
    <main class="formulario ">     
        <div class="contenedor">
            <h1 class="display-5">Bienvenido a <strong><i>"Mi agenda telefónica"</i></strong></h1>
            <div class="card bg-light card-secondary my-4" >
                <div class="card-body ">
                    <h5 class="card-title">Empecemos</h5>
                    <p>Si todavía no está registrado, puede <a href="/registrarse" class="btn btn-success">Registrarse acá.</a></p>
                    <p>Si ya creó su cuenta, puede <a href="/ingresar" class="btn btn-primary">ingresar acá.</a></p>    
                </div>
            </div>            

            <h2>Funciones</h2>                   
            <p>
                Esta es una pequeña aplicación web, con funcionalidades básicas que le permiten administrar una agenda de contactos.
                <ul>
                    <li>
                        Podrá agregar un nuevo contacto, con sus correspondientes datos, como teléfono, correo, una foto opcional, etc.
                    </li>
                    <li>
                        Además podra buscar en la agenda por nombre y/o apellido.
                    </li>
                    <li>
                        Puede editar un contacto, para corregir un error o actualizar los datos.
                    </li>
                    <li>
                        Y si es necesario eliminar algun contacto. 
                    </li>
                </ul>                
                
            </p>    
            <h2>Funciones más allá de las funciones</h2>               
            <p>
                Este proyecto está creado como muestra de trabajo práctico integrador de los conceptos aprendidos en el curso de <strong>Codo A Codo 4.0</strong> edición 2022.
            </p>
            <p>
                En dicho curso se enseña el Desarrollo Web Fullstack, orientado a Javascript. Se vé tanto el frontend como backend.
                El frontend con lenguajes como <strong>HTML5</strong>, <strong>CSS</strong>, <strong>Bootstrap</strong> y <strong>JavaScript</strong><br>
                El backend con el manejo de base de datos <strong>Mysql</strong> y <strong>NODE.JS</strong>
            </p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quod illo iure, saepe ducimus doloribus consequatur
                magni! Aliquam qui iste minus quas! Vero cumque sapiente est quam? Libero, nisi id?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quod illo iure, saepe ducimus doloribus consequatur
                magni! Aliquam qui iste minus quas! Vero cumque sapiente est quam? Libero, nisi id?
            </p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quod illo iure, saepe ducimus doloribus consequatur
                magni! Aliquam qui iste minus quas! Vero cumque sapiente est quam? Libero, nisi id?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quod illo iure, saepe ducimus doloribus consequatur
                magni! Aliquam qui iste minus quas! Vero cumque sapiente est quam? Libero, nisi id?
            </p>
        </div>       
    </main>
    <!--MAIN TERMINA-->

    <!--FOOTER COMIENZA-->
    <%- include('partials/piedepagina', {scripts_ruta: "scripts/"}) %>    
</body>
</html>


