
    <%- include('partials/cabecera', {titulo: "Agenda Telefónica - Bienvenidos",  estilos_ruta: "styles/"}) %>      
    <!--HEADER TERMINA-->


    <!--MAIN COMIENZA-->
    <main class="formulario ">     
        <div class="contenedor">
            <h1>Bienvenidos a mi Agenda Telefonica</h1>
            <p>Si todavia no esta registrado, puede <a href="/registrarse">registrarse aca!</a></p>
            <p>Ya tiene su cuenta? Puede <a href="/ingresar">ingresar aqui!</a></p>
            <p>Para usar la demo del template puede <a href="/contactos/todos">ingresar aca!</a></p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quod illo iure, saepe ducimus doloribus consequatur
                magni! Aliquam qui iste minus quas! Vero cumque sapiente est quam? Libero, nisi id?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quod illo iure, saepe ducimus doloribus consequatur
                magni! Aliquam qui iste minus quas! Vero cumque sapiente est quam? Libero, nisi id?
            </p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quod illo iure, saepe ducimus doloribus consequatur
                magni! Aliquam qui iste minus quas! Vero cumque sapiente est quam? Libero, nisi id?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quod illo iure, saepe ducimus doloribus consequatur
                magni! Aliquam qui iste minus quas! Vero cumque sapiente est quam? Libero, nisi id?
            </p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quod illo iure, saepe ducimus doloribus consequatur
                magni! Aliquam qui iste minus quas! Vero cumque sapiente est quam? Libero, nisi id?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quod illo iure, saepe ducimus doloribus consequatur
                magni! Aliquam qui iste minus quas! Vero cumque sapiente est quam? Libero, nisi id?
            </p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quod illo iure, saepe ducimus doloribus consequatur
                magni! Aliquam qui iste minus quas! Vero cumque sapiente est quam? Libero, nisi id?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quod illo iure, saepe ducimus doloribus consequatur
                magni! Aliquam qui iste minus quas! Vero cumque sapiente est quam? Libero, nisi id?
            </p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quod illo iure, saepe ducimus doloribus consequatur
                magni! Aliquam qui iste minus quas! Vero cumque sapiente est quam? Libero, nisi id?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quod illo iure, saepe ducimus doloribus consequatur
                magni! Aliquam qui iste minus quas! Vero cumque sapiente est quam? Libero, nisi id?
            </p>
        </div>       
    </main>
    <!--MAIN TERMINA-->

    <!--FOOTER COMIENZA-->
    <%- include('partials/piedepagina', {scripts_ruta: "scripts/"}) %>    
</body>
</html>


