
    <%- include('partials/cabecera', {titulo: "Agenda Telefónica - Bienvenidos",  estilos_ruta: "/"}) %>      
    <!--HEADER TERMINA-->


    <!--MAIN COMIENZA-->
    <main class="formulario ">     
        <div class="contenedor">
            <h1 class="display-6 my-2">Bienvenido a <strong><i>"Mi agenda telefónica"</i></strong></h1>
            <div class="card bg-secundary card-secondary my-4" >
                <div class="card-body ">
                    <h5 class="card-title">Empecemos</h5>
                    <p>Si todavía no está registrado para usar la agenda, puede hacerlo, haciendo click en el botón de abajo, es completamente gratís.
                        <a href="/registrarse" class="btn btn-success">Registrarse</a>
                    </p>
                    <p>Si ya tiene su cuenta, puede hacer click en el botón de abajo para poder empezar a usar su agenda personal y <strong>agregar sus contactos</strong>.
                        <a href="/ingresar" class="btn btn-primary">ingresar</a>
                    </p>    
                </div>
            </div>            

            <h2  class="display-6 my-4">Funciones de su agenda:</h2>                   
            <p>
                Esta es una pequeña aplicación web, con funcionalidades básicas que le permiten administrar una agenda de contactos.
                <ul>
                    <li>
                        Podra registrarse en la aplicación para poder usarla y tener sus contactos personales guardados en su agenda.
                    </li>
                    <li>
                        Restablecer la contraseña en el caso de olvido u otro motivo.
                    </li>
                    <li>
                        <strong>Agregar</strong> un nuevo contacto, con sus correspondientes datos como: nombres, apellidos, teléfono, correo y una foto.
                    </li>
                    <li>
                        <strong>Ver</strong> un contacto de la agenda y copiar los datos.
                    </li>
                    <li>
                        <strong>Editar</strong> un contacto, para corregir un error o actualizar los datos.
                    </li>
                    <li>
                       <strong>Eliminar</strong> algun contacto, si es necesario. 
                    </li>
                    <li>
                        <strong>Buscar</strong> en la agenda por nombre y/o apellido.
                    </li>                    
                    
                </ul>                
                
            </p>    
            <h2  class="display-6 my-4">Funciones más allá de las funciones</h2>               
            <p>
                Este proyecto está creado como muestra de trabajo práctico integrador de los conceptos aprendidos en el curso de <strong>Codo A Codo 4.0</strong> edición 2022.
            </p>
            <p>
                En dicho curso se enseña el Desarrollo Web Fullstack, orientado a Javascript. Se vé tanto el frontend como backend.
                El frontend con lenguajes como <strong>HTML5</strong>, <strong>CSS</strong>, <strong>Bootstrap</strong> y <strong>JavaScript</strong><br>
                El backend con el manejo de base de datos <strong>Mysql</strong> y <strong>NODE.JS</strong>
            </p>
            <h2  class="display-6 my-4">Mi proceso de desarrollo</h2>
            <p>
                <i class="fa-regular fa-map" style="font-size: 1.8em;"></i>
                A rasgos generales, esta app es un <strong>CRUD</strong> basico con una base de datos <strong>mysql</strong>, con dos tablas, una de usuarios y otra, de contactos.
                Usa <strong>node.js y express</strong> para el backend, alojado en <a href="http://www.render.com" target="_blanck">https://www.render.com <i class="fa-solid fa-arrow-up-right-from-square"></i></a>, 
                la base de datos está alojada en otro servidor propio, junto con la imagenes.
            </p>
            <p>
                <i class="fa-solid fa-person-digging"  style="font-size: 1.8em;"></i>
                La arquitectura usada es <strong>MVC</strong>, tiene separados los modelos, las vistas y los controladores en diferentes directorios. 
                Los modulos a su vez, estan divididos segun se ocupan del manejo de los <strong>usuarios</strong> y los que manejan a los <strong>contactos</strong>.<br>
            </p>
            <p>
                <i class="fa-solid fa-shield-halved"  style="font-size: 1.8em;"></i>
                Para mejorar la seguridad, usa el modulo <strong>bdcrypt</strong> para encriptar la contraseña de los usuarios en la base de datos.
                Tiene una funcionalidad de <strong>restrablecimiento de contraseña</strong>, con la cual el usuario recibe a traves del módulo <strong>nodemailer</strong> un correo con un enlace para poder cambiarla.<br>
            </p>
            <p>
                <i class="fa-solid fa-code"  style="font-size: 1.8em;"></i>
                Para poder entender más como funciona y como la desarrollé pueden visitar su repositorio en github 
                <a href="https://github.com/hernanruscica/integrador_cac_alumnos" target="_blanck"> repositorio en github <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </p>
        </div>       
    </main>
    <!--MAIN TERMINA-->

    <!--FOOTER COMIENZA-->
    <%- include('partials/piedepagina') %>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <% if (mensaje == 'correoenviado'){ %>
        <script>
            Swal.fire({
                title: 'Correo enviado !',
                text: 'Se envió un correo para restablecer la contraseña',
                icon: 'success',
                confirmButtonText: 'Entendido'
        })
        </script>   
    <%
    } %>
</body>
</html>


