<%- include('partials/cabecera', {titulo: "Agenda Telefónica - Ingrese con cuenta",  estilos_ruta: "/"}) %>   
<!--HEADER TERMINA-->

    <!--MAIN COMIENZA-->
    <main class="">             
        <form class = "formulario" action="/autenticar" method="post">        
            <div class="contenedor">
                <h2 class="formulario__titulo">Ingrese con su usuario y contrasenia</h2>      
                <p>Si quiere probar la agenda con un usuario de prueba, ingrese con el [Usuario]: <strong>prueba</strong> [Contraseña]: <strong>1234</strong></p>                   
                <div class="formulario__fila">
                    <div class="formulario__fila__campo">
                        <label class = "formulario__campo__label" for="nombre">Usuario:</label>                        
                        <input class = "formulario__campo__input" type="text" name="nombre" id = "nombre" placeholder="Ingrese su nombre de usuario." required>
                        <label class = "formulario__campo__error formulario__campo__error-oculto">*No puede estar vacio</label>
                    </div>
                    <div class="formulario__fila__campo">
                        <label class = "formulario__campo__label" for="contrasenia">Contrasenia:</label>
                        <input class = "formulario__campo__input" type="password" name = "contrasenia" id = "contrasenia" placeholder="Ingrese su contrasenia." required>
                        <label class = "formulario__campo__error formulario__campo__error-oculto">*No puede estar vacio</label>
                    </div>
                </div>   
                <p>Olvido su contrasenia? <a href="/recuperar_pass">Recuperar contraseña</a></p>
                <p>Si todavia no esta registrado, puede <a href="/registrarse">registrarse aca!</a></p>
                <input class="formulario__campo__btn" type="submit" value="Ingresar">                              
               
            </div>
        </form>             
       
    </main>
    <!--MAIN TERMINA-->   

    <!--FOOTER COMIENZA-->
    <%- include('partials/piedepagina', {scripts_ruta: ""}) %>        
</body>
</html>