    <%- include('partials/cabecera', {titulo: "Agenda Telefónica - Registro de usuario",  estilos_ruta: "/"}) %>      
    <!--HEADER TERMINA-->

    <!--MAIN COMIENZA-->
    <main class="">             
        <form class = "formulario" action="/registrarse" method="post">           
            <div class="contenedor">
                <h2 class="formulario__titulo">Registrese para usar la agenda telefonica</h2>                
                <div class="formulario__fila">
                    <div class="formulario__fila__campo">
                        <label class = "formulario__campo__label" for="nombre">Nombre de usuario:</label>                        
                        <input class = "formulario__campo__input" type="text" name="nombre" id = "nombre" placeholder="Ingrese su nombre de usuario." required>
                        <label class = "formulario__campo__error formulario__campo__error-oculto">*No puede estar vacio</label>
                    </div>
                    <div class="formulario__fila__campo">
                        <label class = "formulario__campo__label" for="correo">Correo electronico:</label>
                        <input class = "formulario__campo__input" type="email" name = "correo" id = "correo" placeholder="Ingrese un correo electronico valido." required>
                        <label class = "formulario__campo__error formulario__campo__error-oculto">*No puede estar vacio</label>
                    </div>
                </div>
                <div class="formulario__fila">
                    <div class="formulario__fila__campo">
                        <label class = "formulario__campo__label" for="contrasenia">Contrasenia:</label>
                        <input class = "formulario__campo__input" type="password" name = "contrasenia" id = "contrasenia" placeholder="Ingrese su contrasenia." required>
                        <label class = "formulario__campo__error formulario__campo__error-oculto">*Las contraseñas deber ser iguales</label>
                    </div>
                    <div class="formulario__fila__campo">
                        <label class = "formulario__campo__label" for="contrasenia2">Repita la contrasenia:</label>
                        <input class = "formulario__campo__input" type="password" name = contrasenia2 id = "contrasenia2" placeholder="Ingrese su contrasenia nuevamente." required>
                        <label class = "formulario__campo__error formulario__campo__error-oculto">*Las contraseñas deber ser iguales</label>
                    </div>
                </div>   
                <p>Ya tiene su cuenta? Puede <a href="/ingresar">ingresar aqui!</a></p>
                <input class="formulario__campo__btn" type="submit" value="Registrarse">                              
               
            </div>
        </form>             
       
    </main>
    <!--MAIN TERMINA-->   

    
    <!--FOOTER COMIENZA-->
    <%- include('partials/piedepagina', {scripts_ruta: "scripts/"}) %>    
</body>
</html>