    <%- include('partials/cabecera', {titulo: "Agenda Telefónica - Registro de usuario",  estilos_ruta: "/"}) %>      
    <!--HEADER TERMINA-->

    <!--MAIN COMIENZA-->
    <main class="">             
        <form class = "formulario" action="/cambiar_pass" method="post">           
            <div class="contenedor">
                <h2 class="formulario__titulo">Inserte una nueva contraseña</h2>                                
                <div class="formulario__fila">
                    <div class="formulario__fila__campo">
                        <input type="hidden" name="id" value = "<%= id %>">
                        <label class = "formulario__campo__label" for="contrasenia">Contraseña:</label>
                        <input class = "formulario__campo__input" type="password" name = "contrasenia" id = "contrasenia" placeholder="Ingrese la nueva contrasenia.">
                        <label class = "formulario__campo__error formulario__campo__error-oculto">*No puede estar vacio</label>
                    </div>
                    <div class="formulario__fila__campo">
                        <label class = "formulario__campo__label" for="contrasenia2">Repita la contraseña:</label>
                        <input class = "formulario__campo__input" type="password" name = contrasenia2 id = "contrasenia2" placeholder="Repita la nueva contrasenia.">
                        <label class = "formulario__campo__error formulario__campo__error-oculto">*No puede estar vacio</label>
                    </div>
                </div>                   
                <input class="formulario__campo__btn" type="submit" value="Cambiar contraseña">                                             
            </div>
        </form>                    
    </main>
    <!--MAIN TERMINA-->       
    <!--FOOTER COMIENZA-->
    <%- include('partials/piedepagina', {scripts_ruta: "scripts/"}) %>    
</body>
</html>