<%- include('partials/cabecera', {titulo: "Agenda Telefónica - Buscar contacto",  estilos_ruta: "/contactos/"}) %>   
<!--HEADER TERMINA-->

    <!--MAIN COMIENZA-->
    <main class="">     
        <form class = "formulario" action="/contactos/resultados_busqueda" method="post" >
            
            <%- include('partials/menu_contactos') %>

            <div class="contenedor">
                <h2 class="formulario__titulo">Busqueda de contactos</h2>                
                <div class="formulario__fila">
                    <div class="formulario__fila__campo">
                        <label class = "formulario__campo__label" for="nombres">Nombres</label>                        
                        <input class = "formulario__campo__input" type="text" name="nombres" id = "nombres" placeholder="Ingrese el/los nombres del contacto.">
                        <label class = "formulario__campo__error formulario__campo__error-oculto">*No puede estar vacio</label>
                    </div>
                    <div class="formulario__fila__campo">
                        <label class = "formulario__campo__label" for="apellidos">Apellidos</label>
                        <input class = "formulario__campo__input" type="text" name="apellidos" id = "apellidos" placeholder="Ingrese el/los apellidos del contacto.">
                        <label class = "formulario__campo__error formulario__campo__error-oculto">*No puede estar vacio</label>
                    </div>
                </div>     
                <input class="formulario__campo__btn" type="submit" value="Buscar contacto">          
                <h2 class="formulario__titulo">Resultado:</h2>      
            </div>
        </form>             
       
    </main>
    <!--MAIN TERMINA-->   

    <!--FOOTER COMIENZA-->
    <%- include('partials/piedepagina') %>   
    <!--FOOTER TERMINA-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
    
    <%
    if (mensaje == 'busquedasinresults') {%>
        <script>
            Swal.fire({
                title: 'Busqueda sin resultados !',
                text: 'El contacto no se encontró en la agenda. Intente nuevamente buscando con menos terminos o en un sólo campo (nombre o apellido).',
                icon: 'error',
                confirmButtonText: 'ok'
        })
        </script> 
    <%
    }
    %>
</body>
</html>