.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

@media (min-width: 1000px) {
    .nav-links {
        flex-direction: row;        
    }
    .menu-btn {
        display: none;
    }
    .nav-links.menu-closed{
        transform: translateX(0%);
        transition: transform 0s;
    }
}
.menu-closed {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

@media (max-width: 1000px) {
    .nav-links {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 30px;
        list-style-type: none;
        text-align: center;
    }

    .nav-links li a {
        color: white;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
}
