@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500;700&family=Nunito:wght@300;500;700&family=Roboto:wght@300;500;700&display=swap');

/*GENERALES EMPIEZA*/
:root {
    --dark-color-text : #333;
    --yellow-background: #f8c823;
    --petroleo-background: #38485c;
    --green : #00a59d;
    --red : rgb(255, 0, 0);
}   
*, 
*:after,
*:before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Nunito', sans-serif;
    background-color: #333;
}
.contenedor {
    width: 90%;
    min-width: 330px;
    margin: 0 auto;
    padding: 2em 0 1em 0;
}
/*GENERALES TERMINA*/


/*************************   FORMULARIO CREAR CONTACTO ************************** EMPIEZA*/
.formulario {
    background-color: #DDD;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 4rem;
}

.formulario__fila{
    display: flex;
    flex-direction: column;
}

.formulario__fila__campo{
    display: flex;
    flex-direction: column;
    margin: 1.4em 0;    
    height: 70px;
}

.formulario__campo__label{
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 0.4em;
}

.formulario__campo__input{
    padding: 0.5em;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    
}

.formulario__campo__error{
    color: red;
}

.formulario__campo__error-oculto {
    display: none;
}

.formulario__campo__foto__img{
    width: 100%;
    height: 150px;
    object-fit: cover;    
}

.formulario__campo__btn{
    cursor:pointer;
    width: 100%;
    background-color: #28DC25;
    color: #fff;
    border: none;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.8em;
    margin-bottom: 2em;
    border-radius: 5px;    
    box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.75);
    margin-top: 1rem;
}
.formulario__campo__btn:hover{
    opacity: 0.7;
}
input[type='file'] {
    cursor:pointer;
    width: 100%;
}
input[type='file']::file-selector-button {    
    cursor:pointer;
    border: none;
    background-color: #28DC25;
    color: #fff;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0.8em;
    border-radius: 5px;   
    margin: 1em 1em 1em 0 ; 
    box-shadow: 6px 6px 10px -5px rgba(0,0,0,0.75);
  }  

  .app__navbar{
    background-color: #FFEA86;
    box-shadow: 0px 10px 8px -7px rgba(0,0,0,0.75);
    margin-bottom: 0rem;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    gap: 0.4rem;
  }

  .app__navbar__acciones,
  .app__navbar__user{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 
  .app__navbar__user{
    justify-content: end;
  }

  .app__navbar__user i {
    font-size: 1.2rem;
    padding: 0.4rem 0.5rem;
    border: #333 solid 1px;
    border-radius: 50%;
  }

  .app__navbar__user label {
    color: #333;
    font-size: 1.2rem;
    margin-right: 1rem;
    font-style: italic;
    padding: 0.2rem 0.5rem;
  }

  .app__navbar__acciones__link{
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    padding: 0.2rem 1rem;
  }

  .app__navbar__acciones__link:hover{
    background-color:#ad8b19;
    color: #DDD;
    
  }
 

@media (min-width: 700px){
    .contenedor{
        width: 80%;
    }
    .formulario{
        padding-top: 6rem;
    }
    .formulario__fila{
        flex-direction: row;
        justify-content: space-between;
        gap: 2em;
    }

    .formulario__fila-foto-perfil{
        justify-content: left;
    }

    .formulario__fila__campo{
        width: 50%;
    }
    .formulario__campo__foto__img{
        width: 200px;
        height: auto;
        object-fit: cover;    
    }
    .app__navbar{        
        height: 3rem;
        flex-direction: row;
      }    
}
/*************************   FORMULARIO CREAR CONTACTO ************************** FINALIZA*/




/***************************VER CONTACTOS **********************INICIA*/
.contactos-tarjeta{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 7rem auto auto;
    grid-template-areas: "foto-perfil foto-perfil titulo titulo titulo titulo "
                         "data data data data data data "
                         "data data data data data data ";                         
    border: #333 solid 2px;    
    border-radius: 10px;
    margin: 2em 0;
}

.contactos-tarjeta__img-container{
    grid-area: foto-perfil;    
    text-align: center;
    border: #333 solid 1px;   
    border-top: none;
    border-left: none;
    overflow: hidden;
    border-radius: 10px 0px 0px 0px;  
}

.contactos-tarjeta__titulo{
    grid-area: titulo;
    position: relative;
    height: 100%;
    width: 100%;
    border: #333 solid 1px;   
    border-top: none;
    border-right: none;
    border-left: none;
    align-self: center;
    background-color: #FFEA86;  
    border-radius: 0px 10px 0px 0px; 
    padding: 2.8em 0.4em 0.4em 0.4em;
}

.contactos-tarjeta__titulo__texto{
    word-break: break-all;
    text-transform: capitalize;
}



.contactos-tarjeta__img-container__img{
    width: 100%;
    /*max-width: 220px;*/
    height: auto;
    object-fit: contain;
    object-position: center;  
       
}

.contactos-tarjeta__titulo__botones{
    position: absolute;
    top:0;
    right: 0;
    display: flex;
    flex-direction: row;
    border: #333 solid 1px;  
    background-color: #333; 
    border-top: none;    
    border-right: none;
    border-radius: 0px 10px 0px 0px;  
     
}

.contactos-tarjeta__titulo__botones__btn__texto{
    display: none;
}

.contactos-tarjeta__titulo__botones__btn{
    cursor: pointer;
    font-size: 1.4rem;
    padding: 0.2em 0.4em;
    color: #fff;    
    border-radius: 0px 0px 0px 0px; 
    overflow: hidden;
}
.contactos-tarjeta__titulo__botones__btn:nth-last-child(1){
    border-radius: 0px 8px 0px 0px; 
}

.btn-ver{
    background-color: #888;
}
.btn-editar{
    background-color: #28DC25;
}
.btn-borrar{
    background-color: red;
}

.btn-copiar {
    cursor: pointer;
    font-size: 0.9em;
    border: solid #333 1px;
    padding: 0.4rem;
    border-radius: 5px;
}

.btn:hover{
    opacity: 0.6;
    transform: scale(0.96);
}


.contactos-tarjeta__data{
    grid-area: data;
    padding: 0.5em;
    background-color: #FFF;
    border-radius: 0 0  7px 7px;
}

.contactos-tarjeta__data label{
    word-break: break-all;   
}

.contactos-tarjeta__data__item{
    font-size: 1.2em;
    margin: 0.5em;
}



@media (min-width: 700px){
    .contactos-tarjeta{
        grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "foto-perfil foto-perfil titulo titulo titulo titulo "
                             "foto-perfil foto-perfil data data data data "
                             "foto-perfil foto-perfil data data data data ";                         
        border: #333 solid 2px;    
    }
    .contactos-tarjeta__img-container{
        padding: 0em;  
        border-radius: 10px 0px 0px 10px;  
        
    }
    .contactos-tarjeta__img-container__img{
        height: 100%;
        max-height: 200px;
        width: auto;        
        object-fit: contain;
        object-position: center;   
        
    }
    .contactos-tarjeta__titulo__botones__btn__texto{
        font-size: 0.6em;
        text-transform: uppercase;
        display: inline-block;
    }
}
/***************************VER CONTACTOS **********************FINALIZA    */


/***************************VER CONTACTO **********************INICIA*/
.contacto-tarjeta{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20rem auto auto;
    grid-template-areas: "foto-perfil foto-perfil foto-perfil foto-perfil foto-perfil foto-perfil "
                         "data data data data data data "
                         "data data data data data data ";                         
    border: #333 solid 2px;    
    border-radius: 10px;
    margin: 2em auto;    
    max-width: 500px;
}

.contacto-tarjeta__img-container{   
    grid-area: foto-perfil;        
    text-align: center;
    border: #333 solid 1px;   
    border-top: none;
    border-left: none;
    overflow: hidden;
    border-radius: 10px 0px 0px 0px;  
    position: relative;
    
}

.contacto-tarjeta__titulo{
    grid-area: titulo;
    position: relative;
    height: 100%;
    width: 100%;
    border: #333 solid 1px;   
    border-top: none;
    border-right: none;
    border-left: none;
    align-self: center;
    background-color: #FFEA86;  
    border-radius: 0px 10px 0px 0px; 
    padding: 2.6em 0.4em 0.4em 0.4em;
}


.contacto-tarjeta__img-container__img{
    width: 100%;
    /*max-width: 220px;*/
    height: auto;
    object-fit: contain;
    object-position: center;  
    border-radius: 7px 7px 0 0;
    
       
}

.contacto-tarjeta__titulo__texto{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1.2em;
    color: #FFEA86;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    padding: 0.5em 0 ;
    
}

.contacto-tarjeta__titulo__botones{
    position: absolute;
    top:0;
    right: 0;
    display: flex;
    flex-direction: row;
    border: #333 solid 1px;  
    background-color: #333; 
    border-top: none;    
    border-right: none;
    border-radius: 0px 10px 0px 0px;  
     
}

.contacto-tarjeta__titulo__botones__btn__texto{
    display: none;
}

.contacto-tarjeta__titulo__botones__btn{
    cursor: pointer;
    font-size: 1.4rem;
    padding: 0.2em 0.4em;
    color: #fff;    
    border-radius: 0px 0px 0px 0px; 
    overflow: hidden;
}
.contacto-tarjeta__titulo__botones__btn:nth-last-child(1){
    border-radius: 0px 8px 0px 0px; 
}

.btn-ver{
    background-color: #888;
}
.btn-editar{
    background-color: #28DC25;
}
.btn-borrar{
    background-color: red;
}

.btn-copiar {
    cursor: pointer;
    font-size: 0.9em;
    border: solid #333 1px;
    padding: 0.4rem;
    border-radius: 5px;
}

.btn:hover{
    opacity: 0.6;
    transform: scale(0.96);
}

.contacto-tarjeta__data{
    grid-area: data;
    padding: 0.5em;
    background-color: #FFF;
    border-radius: 0 0  7px 7px;
}

.contacto-tarjeta__data__item{
    font-size: 1.2em;
    margin: 0.5em;
}



@media (min-width: 700px){
    .contacto-tarjeta{
        grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 30rem auto auto;
        grid-template-areas: "foto-perfil foto-perfil foto-perfil foto-perfil foto-perfil foto-perfil "
                             "data data data data data data "
                             "data data data data data data ";                         
        border: #333 solid 2px;    
    }
    
    .contacto-tarjeta__titulo__texto{
        max-width: 500px;        
    }
    
   

    

    .contacto-tarjeta__img-container__img{
        height: 100%;
        max-width: 500px;
        width: auto;        
        object-fit: contain;
        object-position: center;   
        
    }
    .contacto-tarjeta__titulo__botones__btn__texto{
        font-size: 0.6em;
        text-transform: uppercase;
        display: inline-block;
    }
}
 
/***************************VER CONTACTO **********************FINALIZA    */