<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumnos</title>
</head>
<body>
    <h2>Lista de alumnos</h2>
    
    <table>
        <thead>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>D.N.I.</th>
                <th>Acciones</th>
            </tr>
            <% data.forEach(function (dato){ %>
            <tr>
                <th><%= dato.nombre %></th>
                <th><%= dato.apellido %></th>
                <th><%= dato.dni %></th>
                <th>
                    <button id = "btn-borrar" data-id = '<%= dato.id %>'>Borrar</button>
                    <button>Editar</button>
                </th>
            </tr>
            <% }) %>
        </thead>
    </table>

    <form action="/add" method="POST">
        <input type="text" name = "nombre" placeholder="nombres">
        <input type="text" name = "apellido" placeholder="Apellidos">
        <input type="number" name = "dni" placeholder="D.N.I.">
        <input type="submit" value="Añadir alumno">
    </form>

    <script>
        console.log('desde el script');
        const $d = document;
        $d.addEventListener('click', (e) => {            
            
            if (e.target.id == 'btn-borrar'){
                e.preventDefault();
                console.log(`click en el boton de borrar ${e.target.dataset.id}`);
                window.location.replace(`http://localhost:3000/alumnos/delete/${e.target.dataset.id}`);
            }
        })
    </script>
</body>
</html>